html, body {
    height: 100%;
}

main {
    display: flex; /* enables flex layout */
    height: 100vh;
}

.LeftSidebar, .RightSidebar {
    width: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between buttons */
}

.ShortcutsList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

.PageArea {
    display: flex;
    flex: 1; /* This ensures all widget columns share the available width equally */
    flex-direction: column;
}

.SearchArea {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WidgetsArea {
    display: flex;
    flex: 1;
}

.WidgetColumn1,
.WidgetColumn2 {
    display: flex;
    margin: 10px; /* It gives breathing room between columns and prevents them from sticking together. */
    padding: 10px; /* It prevents content (like text or widgets) from touching the edges. */
    flex-direction: column; /* Arranges the child elements vertically */
}

.WidgetColumn1 {
    flex: 7.5;
}

.WidgetColumn2 {
    flex: 2.5;
}
